# Document Intelligence Pipeline — Classification
# Python 3.11+

sentence-transformers
torch
numpy
###paddlepaddle-gpu    # ou paddlepaddle pour CPU
paddlepaddle
paddleocr
opencv-python-headless
PyMuPDF           # fitz — extraction PDF native
python-docx       # extraction DOCX
fastapi
uvicorn[standard]
aiofiles
pydantic
pydantic-settings
pytest
pytest-asyncio
httpx            # pour les tests FastAPI
